@charset "utf-8";
/* 공통 레이아웃 */
.layout-1280{margin:0 auto; width: 1280px; max-width: 100%; background: #eee}

/* 테스트 */
.test-area{height: 500px; border: 1px solid #ddd; text-align: center; line-height: 500px;}

/* 프로필 카드 전체 영역 */
.profileCards {
    width: 1000px;
    margin: auto;
    padding: 30px 0px 30px 0px;
}
/* 각 프로필 카드 높이 */
.cardEach {
    height: 450px;
}
/* 카드 테두리 둥글게 ㅡ 적용 안됨 */
.h-100 {
    border-radius: 50px;
}
/* 더보기 버튼 */
.h-100 > button {
    margin: 10px 10px 0px auto;
    width: 60px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    color: white;
}
/* 프로필 카드 내 이미지 */
.h-100 > img {
    border-radius: 20px;
}
/* 프로필 카드 본인 소개 */
.card-body {
    margin: 0px 30px 0px 30px;
}
/* 프로필 카드 아래 url 버튼의 전체 영역 */
.profileBtn {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin: auto 10px 10px auto;
}
/* 프로필 카드 아래 url 버튼 크기조절 */
.profileBtn > button {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 100%;
}
/* 프로필 카드 아래 url 버튼 이미지 */
.btnImg {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin: 5px;
}