@charset "utf-8";
/* 공통 레이아웃 */
.layout_1280{margin:0 auto; width: 1280px; max-width: 100%; background: #eee}

/* 테스트 */
.test_area{height: 500px; border: 1px solid #ddd; text-align: center; line-height: 500px;}
