@charset "utf-8";
/* 공통 레이아웃 */
.layout-1280{margin:0 auto; width: 1280px; max-width: 100%; background: #eee}

/* 테스트 */
.test-area{height: 500px; border: 1px solid #ddd; text-align: center; line-height: 500px;}

/* 메인 제목 */
.title-main {
    text-align: center;
    padding: 25px;
    
}

#title-main__big {
    font-size: 100px;
    margin-bottom: 15px;
}

#title-main__small {
    font-size: 30px;
}

/* 소개 박스들 */
.team-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.introduce, .goal, .promise {
    margin: 5px;
    width: 350px;
    height: 400px;
    background-color: #ffefee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.introduce img, .goal img, .promise img {
    width: 90px;
    height: 90px;
    border-radius: 30%;
}

.introduce-image, .goal-image, .promise-image {
    height: 70px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.introduce-title, .goal-title, .promise-title {
    font-size: 23px;
    font-weight: bold;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.introduce-content, .goal-content, .promise-content {
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 20px 35px;
    padding: 10px;
    line-height: 20px;
}

